{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<p>We&rsquo;ve told @{{ to }} to follow you and now need to finish
authenticating.&nbsp; First, click the button below to and enter your
Twitter credentials.&nbsp; This will send a direct message containing
the text &ldquo;{{ dm }}&rdquo; to us, verifying that you own
@{{ username }}.</p>
<p><input id="dm" type="button" value="Login through Twitter"
class="big twitter button" />&nbsp;&nbsp;&nbsp;
<big style="display: none;">I&rsquo;m logged in,
<a href="{% url auth_login %}">Continue</a></big></p>
<iframe id="dm-iframe-1" src="{% url auth_dm %}" style="display: none;"></iframe>
<iframe id="dm-iframe-2" src="{% url auth_dm %}" style="display: none;"></iframe>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
	$('#dm').click(function() {
		$('#dm-iframe-1').contents().find('form').each(function() {
			this.submit();
		});
		setTimeout(function() {
			$('#dm-iframe-2').contents().find('form').each(function() {
				this.submit();
			});
			setTimeout(function() {
				$('#dm').parent().find('big').css({'display': ''});
			}, 1000);
		}, 1000);
	});
});
</script>
{% endblock %}
